### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as nm

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete['Pass_M'] = nm.where(school_data_complete["math_score"] >= 70,1,0)
school_data_complete['Pass_R'] = nm.where(school_data_complete["reading_score"] >= 70,1,0)

In [3]:
no_of_schools = school_data_complete["school_name"].value_counts()
total_no_of_schools = no_of_schools.count()
Total_no_of_students = school_data_complete["Student ID"].count()
budget = school_data_complete["budget"].unique()
total_budget = budget.sum()
Av_Math = school_data_complete["math_score"].mean()
Av_Reading = school_data_complete["reading_score"].mean()
only_Pass = school_data_complete.loc[school_data_complete["math_score"] >= 70,]
Pass = only_Pass["math_score"].count()
Passing_Math = (Pass/Total_no_of_students)*100
only_Pass_Read = school_data_complete.loc[school_data_complete["reading_score"] >= 70,]
Pass_Read = only_Pass_Read["reading_score"].count()
Passing_Read = (Pass_Read/Total_no_of_students)*100
Overall = (Av_Math + Av_Reading )/2
summary_table = pd.DataFrame({"Total Schools": total_no_of_schools,
                              "Total Students": Total_no_of_students,
                              "Total Budget": total_budget,
                              "Average Math Score": Av_Math,"Average Reading Score": [Av_Reading],
                              "% Passing Math": [Passing_Math] ,"% Passing Reading": [Passing_Read],
                             "% Overall Passing Rate": [Overall]})
summary_table.style.format({"Total Students": ("{:,.0f}") , "Total Budget" : ("${:,.2f}") })

In [4]:
renamed = school_data_complete.rename(columns={"school_name":"School Name"})
grouped_Schools = renamed.groupby(['School Name'])

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [5]:
School_1 = grouped_Schools["type"].unique()
School_Type = School_1.str.get(0)
Total_Students = grouped_Schools["Student ID"].count()
Total_School__1 = grouped_Schools["budget"].unique()
Total_School_Budget = Total_School__1.str.get(0)
Per_Student_Budget = Total_School_Budget / Total_Students
Avg_M = grouped_Schools["math_score"].mean()
Avg_R = grouped_Schools["reading_score"].mean()
Math = grouped_Schools["Pass_M"].sum()
Percentage_Math = (Math/Total_Students)*100
Reading = grouped_Schools["Pass_R"].sum()
Percentage_Read = (Reading/Total_Students)*100
Average = (Percentage_Math + Percentage_Read)/2
School_table = pd.DataFrame({"School Type": School_Type,
                              "Total Students": Total_Students,
                              "Total Budget": Total_School_Budget,
                              "Per Student Budget": Per_Student_Budget ,
                             "Average Math Score": Avg_M ,"Average Reading Score": Avg_R ,
                               " % Passing Math": Percentage_Math ,
                               "% Passing Reading": Percentage_Read ,
                             "% Overall Passing Rate": Average  }).sort_values("% Overall Passing Rate" ,
                                                                               ascending=False)
School_table.head().style.format({"Total Students": ("{:,.0f}") , "Total Budget" : ("${:,.2f}") , "Per Student Budget" : ("${:,.2f}") })

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [6]:
School_1 = grouped_Schools["type"].unique()
School_Type = School_1.str.get(0)
Total_Students = grouped_Schools["Student ID"].count()
Total_School__1 = grouped_Schools["budget"].unique()
Total_School_Budget = Total_School__1.str.get(0)
Per_Student_Budget = Total_School_Budget / Total_Students
Avg_M = grouped_Schools["math_score"].mean()
Avg_R = grouped_Schools["reading_score"].mean()
Math = grouped_Schools["Pass_M"].sum()
Percentage_Math = (Math/Total_Students)*100
Reading = grouped_Schools["Pass_R"].sum()
Percentage_Read = (Reading/Total_Students)*100
Average = (Percentage_Math + Percentage_Read)/2
School_table_1 = pd.DataFrame({"School Type": School_Type,
                              "Total Students": Total_Students,
                              "Total Budget": Total_School_Budget,
                              "Per Student Budget": Per_Student_Budget ,
                             "Average Math Score": Avg_M ,"Average Reading Score": Avg_R ,
                               " % Passing Math": Percentage_Math ,
                               "% Passing Reading": Percentage_Read ,
                             "% Overall Passing Rate": Average  }).sort_values("% Overall Passing Rate")
School_table_1.head().style.format({"Total Students": ("{:,.0f}") , "Total Budget" : ("${:,.2f}") , "Per Student Budget" : ("${:,.2f}") })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:

nineth = school_data_complete.loc[school_data_complete["grade"] == "9th"]
nineth_grades = nineth.groupby(['school_name'])
Avg_M_a = nineth_grades["math_score"].mean()
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th"]
tenth_grades = tenth.groupby(['school_name'])
Avg_M_b = tenth_grades["math_score"].mean()
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th"]
eleventh_grades = eleventh.groupby(['school_name'])
Avg_M_c = eleventh_grades["math_score"].mean()
twelveth = school_data_complete.loc[school_data_complete["grade"] == "12th"]
twelveth_grades = twelveth.groupby(['school_name'])
Avg_M_d = twelveth_grades["math_score"].mean()
School_table_A = pd.DataFrame({"9th": Avg_M_a,
                              "10th": Avg_M_b,
                              "11th": Avg_M_c,
                              "12th":Avg_M_d })
School_table_A.style

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
nineth = school_data_complete.loc[school_data_complete["grade"] == "9th"]
nineth_grades = nineth.groupby(['school_name'])
Avg_M_a1 = nineth_grades["reading_score"].mean()
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th"]
tenth_grades = tenth.groupby(['school_name'])
Avg_M_b1 = tenth_grades["reading_score"].mean()
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th"]
eleventh_grades = eleventh.groupby(['school_name'])
Avg_M_c1 = eleventh_grades["reading_score"].mean()
twelveth = school_data_complete.loc[school_data_complete["grade"] == "12th"]
twelveth_grades = twelveth.groupby(['school_name'])
Avg_M_d1 = twelveth_grades["reading_score"].mean()
School_table_B = pd.DataFrame({"9th": Avg_M_a1,
                              "10th": Avg_M_b1,
                              "11th": Avg_M_c1,
                              "12th":Avg_M_d1 })
School_table_B.style

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# Sample bins. Feel free to create your own bins.
#spending_bins = [0, 585, 615, 645, 675]
#group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [10]:
School_tableA = pd.DataFrame({ "Average Math Score": Avg_M ,"Average Reading Score": Avg_R ,
                               " % Passing Math": Percentage_Math ,
                               "% Passing Reading": Percentage_Read ,
                             "% Overall Passing Rate": Average , "Per Student Budget": Per_Student_Budget })


spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
School_tableA["Spending Ranges(per Student) "] = pd.cut(School_tableA[ "Per Student Budget"], spending_bins, labels=group_names)
School_tableA = School_tableA.groupby("Spending Ranges(per Student) ")
School_tableA.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Per Student Budget
Spending Ranges(per Student),,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486,581.000000
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572,604.500000
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391,635.166667
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382,652.333333

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
# Sample bins. Feel free to create your own bins.
#size_bins = [0, 1000, 2000, 5000]
#group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [12]:
School_tableB = pd.DataFrame({ "Average Math Score": Avg_M ,"Average Reading Score": Avg_R ,
                               " % Passing Math": Percentage_Math ,
                               "% Passing Reading": Percentage_Read ,
                             "% Overall Passing Rate": Average , "Total Students": Total_Students})
School_tableB.style

size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
School_tableB["School Size"] = pd.cut(School_tableB[ "Total Students"],
                                                        size_bins, labels=group_names)
School_tableB = School_tableB.groupby("School Size")
School_tableB.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Total Students
School Size,,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831,694.500
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187,1704.400
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998,3657.375

## Scores by School Type

* Perform the same operations as above, based on school type.

In [13]:
#School_tableD = pd.DataFrame({"Per Student Budget": Per_Student_Budget ,"School Type": School_Type,
                             #"Average Math Score": Avg_M ,"Average Reading Score": Avg_R ,
                               #" % Passing Math": Percentage_Math ,
                              # "% Passing Reading": Percentage_Read ,
                             #"% Overall Passing Rate": Average  })


#spending_bins = [???]
#group_names = ["Charter", "District"]
#School_tableD["Type"] = pd.cut(School_tableD[ "School Type"], spending_bins, labels=group_names)
#School_tableD = School_tableA.groupby("Type ")
#School_tableD.mean()

In [14]:
grouped_SchoolsD = school_data_complete.groupby(["type"])
Avg_M = grouped_SchoolsD["math_score"].mean()
Avg_R = grouped_SchoolsD["reading_score"].mean()
Total_StudentsD = grouped_SchoolsD["Student ID"].count()
Math = grouped_SchoolsD["Pass_M"].sum()
Reading = grouped_SchoolsD["Pass_R"].sum()
Percentage_Math = (Math/Total_StudentsD)*100
Percentage_Read = (Reading/Total_StudentsD)*100
Average = (Percentage_Math + Percentage_Read)/2
School_tabletype = pd.DataFrame({"Average Math Score": Avg_M ,"Average Reading Score": Avg_R ,
                                 "% Passing Math": Percentage_Math ,
                                 " % Passing Reading": Percentage_Read ,
                             "% Overall Passing Rate ": Average  })
School_tabletype.style